@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

$primary-color: #1d4ae9;
$primary-hover: #333;
$border-color: #e2e2e2;
$container-padding: 20%;

body {
    font-family: 'Questrial', 'sans-serif';
}

.container {
    $paddingX: 20%;

    padding-left: $paddingX;
    padding-right: $paddingX;
    width: 100%;
    box-sizing: border-box;
}