// header selector
.header {
    position: relative;
    width: 100%;
    z-index: 1;
}

// top panel --start
.top {
    $padding_x: 10px;

    padding-top: $padding_x;
    padding-bottom: $padding_x;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid $border-color;

    // hotline and shipping text
    &__hotline, &__ship {
        font-size: 14px;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: .20px;
        text-align: center;
    }

    // Social box
    &__social {
        display: flex;
        justify-content: space-between;

        width: 90px;

        // Every icon
        .fab {
            font-size: .8rem;
            text-decoration: none;
            color: #000;
        }

        // hover state
        .fab:hover {
            color: $primary-color;
        }
    }
}
// top panel --end

// mid panel --start
.mid {
    $padding_x: 20px;

    padding-top: $padding_x;
    padding-bottom: $padding_x;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // Logo
    &__logo {
        width: 230px;
    }

    // Search bar
    &__search {
        $search-border-radius: 6px;

        position: relative;
        display: flex;
        flex: 3;
        justify-content: center;

        // Search box
        .bar {
            background-color: #f8f8f8;
            display: block;
            width: 50%;
            height: 30px;
            border-radius: $search-border-radius 0 0 $search-border-radius;
            border: 1px solid $border-color;
            padding-left: 20px;
        }

        // Search button
        .btn {
            background-color: $primary-color;
            color: #fff;
            border: none;
            padding: 0 40px;
            font-size: .8rem;
            border-radius: 0 $search-border-radius $search-border-radius 0;
            transition: 300ms ease;
            cursor: pointer;
        }

        // --hover state
        .btn:hover {
            background-color: $primary-hover;
        }
    }

    // Cart box
    &__cart {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 20px;
        width: 120px;

        // Every icon
        .fas {
            color: $primary-color;
            text-decoration: none;
            transition: 300ms ease;
        }

        // --hover state
        .fas:hover {
            color: $primary-hover;
        }
    }

    // mobile only menu
    .burger-menu {
        display: none;
        font-size: 1.3rem;
        cursor: pointer;
    }
}
// mid panel --end


// bot panel --start
.bot {
    display: flex;
    align-items: center;

    border-bottom: 1px solid $border-color;

    // Menu box
    &__menu {
        padding: 0 30px;
    }

    // Menu box links
    &__link {
        color: #000;
        text-decoration: none;
        font-size: 16px;
    }

    // Space between menu box links
    &__link:not(:last-child) {
        margin-right: 20px;
    }

    // --hover state
    &__link:hover {
        color: $primary-color;
    }

    // Categories box
    &__categories {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 15px 30px;
        font-size: 18px;
        width: 240px;

        background-color: $primary-color;
        border-radius: 6px 6px 0px 0;
        color: #fff;
        cursor: pointer;
        
        transition: 300ms ease;
    }

    // --hover state
    &__categories:hover {
        background-color: $primary-hover;
    }

    // text on the right
    &__txt {
        font-size: 16px;
        color: $primary-color;
        font-weight: 800;
        margin-left: auto;
    }
}
// bot panel --end