// top slider
.slider {
    border-bottom: 1px solid $border-color;

    // background image
    &__img {
        height: 60vh;
        width: 100%;

        object-fit: cover;
    }

    // content box
    &__content {
        position: absolute;
        width: 100%;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);

        text-align: center;
        line-height: 20px;
        padding: 0 20px;
        box-sizing: border-box;
        // white-space: nowrap;
    }

    // call to action button
    &__cta {
        font-size: 16px;
        padding: 10px 20px;
        font-weight: 800;
        font-family: 'Questrial', 'sans-serif';

        background-color: $primary-color;
        border: none;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;

        transition: 300ms ease;
    }

    // --hover state
    &__cta:hover {
        background-color: $primary-hover;
    }
}

// Animate reveal content
.slick-active .anim-content {
    animation: fadeUp forwards;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-delay: 300ms;
    opacity: 0;
}

// Animation
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

// best seller section
.best-seller {
    margin: 20px 0;

    // slider wrapper
    &__slider {
        border: 1px solid $border-color;
    }

    // slider's slide
    &__slide {
        width: 10%;
        border-right: 1px solid $border-color;
        padding: 0 20px;
        position: relative;
        
        // slide image
        .image {
            width: 100%;
            transition: 300ms ease;
            cursor: pointer;
        }

        // slide image--hover state
        .image:hover {
            opacity: .5;
        }


        // slide image title
        .title {
            font-weight: 400;
            padding-bottom: 10px;
            margin: 5% 0;
            max-height: 20px;
        }

        // slide image price
        .price {
            margin: 0;
        }

        .action {
            margin-top: 20px;
        }

        // add to cart button
        button {
            margin: 10px 0;
            width: 100%;
            margin-right: auto;
            border: none;
            background-color: $primary-color;
            color: #fff;
            font-family: 'Questrial', 'sans-serif';
            font-size: 16px;
            font-weight: 800;
            padding: 10px 15px;
            cursor: pointer;
            transition: 300ms ease;

    
            &:hover {
                background-color: $primary-hover;
            }
        }
    }
    
    // best seller header
    &__header {
        display: flex;
        align-items: center;
        background-color: #f3f3f3;

        border-top: 3px solid $primary-color;
        border-right: 1px solid $border-color;
    }

    // best seller title
    &__title {
        display: flex;
        align-items: center;
        background: $primary-color;
        color: #fff;
        padding: 15px 10px;
        overflow: hidden;

        & > * {
            margin: 0;
            padding: 0 5px;
            font-size: 18px;
        }
    }

    // best seller navigation
    &__nav {
        display: flex;
        align-items: center;
        padding: 0 10px;
    }

    // best seller navigation links
    &__link {
        padding: 0 20px;
        text-decoration: none;
        color: #000;
        font-size: 18px;
        flex-wrap: wrap;
    }

    // best seller navigation links--hover state
    &__link:hover {
        color: $primary-color;
    }

    // slider arrows wrapper
    &__arrows {
        margin-left: auto;

        // arrow icons
        .fas {
            font-size: 22px;
            padding: 10px;
            cursor: pointer;
            user-select: none;

            transition: 300ms ease;
        }

        .fas:hover {
            color: $primary-color;
        }
    }
}

.newsletter {
    $paddingX: 30px;

    padding-top: $paddingX;
    padding-bottom: $paddingX;

    background-color: $primary-color;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {
        // line-height: 40px;

        & > * {
            margin: 0;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 18px;
        padding: 0;
        margin: 0;
    }

    &__form {
        color: #000;
        display: flex;

        input[type="text"] {
            padding: 10px 20px;
            font-size: 14px;
            border-radius: 10px 0 0 10px;
            border: none;
        }

        button {
            padding: 10px 30px;
            border-radius: 0 10px 10px 0;
            border: none;
            color: #fff;
            background-color: $primary-hover;
            cursor: pointer;
            text-align: center;
            font-family: 'Questrial', 'sans-serif';

            transition: 300ms ease;

            &:hover {
                background-color: #fff;
                color: $primary-hover;
            }
        }
    }
}