@media (max-width: 1515px) {
    .container {
        $paddingX: 10%;

        padding-left: $paddingX;
        padding-right: $paddingX;
    }

    .slick-dots {
        width: 10%;
    }
}

@media (max-width: 1153px) {
    .container {
        $paddingX: 3%;

        padding-left: $paddingX;
        padding-right: $paddingX;
    }

    .slick-dots {
        width: 20%;
    }
}

// mobile mode
@media (max-width: 975px) {
    // fix container padding
    .container {
        $paddingX: 0;

        padding-left: $paddingX;
        padding-right: $paddingX;
    }

    .slick-dots {
        width: 40%;

        button {
            width: 15px;
            height: 15px;
        }
    }

    // header
    .header {
        position: fixed;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }

    // main section
    .main {
        padding-top: 110.58px;
    }

    // remove header items
    .top__hotline, .top__social, .mid__search, .mid__cart, .bot {
        display: none;
    }

    .top {
        background-color: $primary-color;

        &__ship {
            width: 100%;
            padding: 0 10px;
            color: #fff;
        }
    }

    // header's mid panel
    .mid {
        padding: 15px 30px;

        // header logo
        &__logo {
            width: 180px;
        }

        // header burger menu
        .burger-menu {
            display: block;
        }
    }

    .slider {
        
        &__img {
            height: calc(95vh - 111.58px);
        }
    
        &__content {
            line-height: 40px;
            // background: red;
            h3 {
                font-size: 18px;
                margin: 0;
            }

            h1 {
                font-size: 36px;
                margin: 0;
            }
        }
    }

}
