@media (max-width: 1515px) {
    .container {
        $paddingX: 10%;

        padding-left: $paddingX;
        padding-right: $paddingX;
    }
}

@media (max-width: 1064px) {
    // fix container padding
    .container {
        $paddingX: 0;

        padding-left: $paddingX;
        padding-right: $paddingX;
    }

    // slider dots wrapper
    .slick-dots {

        // dots
        button {
            width: 15px;
            height: 15px;
        }
    }

    // header
    .header {
        position: fixed;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }

    // main section
    .main {
        padding-top: 110.58px;
    }

    // remove header items
    .top__hotline, .top__social, .mid__search, .mid__cart, .bot {
        display: none;
    }

    // header's top panel
    .top {
        background-color: $primary-color;

        &__ship {
            width: 100%;
            padding: 0 10px;
            color: #fff;
        }
    }

    // header's mid panel
    .mid {
        padding: 15px 30px;

        // header logo
        &__logo {
            width: 180px;
        }

        // header burger menu
        .burger-menu {
            display: block;
        }
    }

    // slider wrapper
    .slider {
        
        // slider iamge
        &__img {
            height: calc(95vh - 111.58px);
        }
    
        // slider content
        &__content {
            line-height: 40px;
            
            // sub title
            h3 {
                font-size: 18px;
                margin: 0;
            }

            // title
            h1 {
                font-size: 36px;
                margin: 0;
            }
        }
    }

    .newsletter {
        flex-direction: column;

        &__info {
            text-align: center;
            padding: 0 20px;
        }

        &__subtitle {
            margin-top: 10px;
        }

        &__form {
            margin-top: 20px;
            width: 70%;

            input[type="text"] {
                width: 70%;
            }

            button {
                width: 30%;
                padding: 0 10px;
            }
        }
    }
}

@media (max-width: 660px) {
    .best-seller {
        &__header {
            flex-direction: column;
        }
    
        &__title {
            width: 100%;
            text-align: center;
    
            justify-content: center;
        }

        &__nav {
            padding: 20px 0;
        }

        &__arrows {
            display: none;
        }
    }

    .newsletter__form {
        width: 90%;
    }
}
