.sidebar {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    overflow: hidden;
    transition: 300ms ease;
    box-shadow: 0 0 10px rgba(0,0,0,.2);

    transform: translateX(100vw);
}

.sidebar--active {
    transform: translateX(10vw);
}