.sidebar {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    overflow: hidden;
    transition: 300ms ease;

    transform: translateX(100vw);

    &__ext {
        font-size: 36px;
        padding: 10px;
        cursor: pointer;
    }
}

.sidebar--active {
    transform: translateX(10vw);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}